*.iml
*.idea
*.jar
*.lst
*.class
.sync
.brackets.json
*.7z
*.zip
/.settings/
/.pmd
/.project
/jshintreport.xml
/.bash_profile
/src/
phantomjsdriver.log
.checkstyle
.pmdruleset.xml
.settings
**/reports/*
.sonarlint/*
ui.apps/src/main/content/jcr_root/META-INF/MANIFEST.MF
ui.apps/src/main/content/jcr_root/WEB-INF/web.xml
ui.content/src/main/content/jcr_root/META-INF/MANIFEST.MF
.DS_Store
**/target/*
**/.classpath
**/.project
/node_modules
/lib
/bin
/etc
*-lock.json
/yarn.lock
/node
ui.apps/src/main/content/jcr_root/etc/clientlibs/demo-project/commons/site/css/
ui.apps/src/main/content/jcr_root/etc/clientlibs/demo-project/commercial/site/css/
ui.apps/src/main/content/jcr_root/etc/clientlibs/demo-project/corporate/site/css/
ui.apps/src/main/content/jcr_root/etc/clientlibs/demo-project/careers/site/css/

cq5dam.*
generated
