<p data-sly-test="${properties.text}">Text property: ${properties.text}</p>

<pre data-sly-use.hello="com.vertic.core.models.HelloWorldModel">
HelloWorldModel says:
${hello.message}
</pre>
<coral-tabview>
    <coral-tablist target="coral-demo-panel-1">
        <coral-tab>Tab 1
        </coral-tab>
        <coral-tab>Tab 2
        </coral-tab>
        <coral-tab>Tab 3
        </coral-tab>
        <coral-tab>Tab 4
        </coral-tab>
    </coral-tablist>
    <coral-panelstack id="coral-demo-panel-1">
        <coral-panel class="coral-Well">Tab 1 Content
        </coral-panel>
        <coral-panel class="coral-Well">Tab 2 Content
        </coral-panel>
        <coral-panel class="coral-Well">Tab 3 Content
        </coral-panel>
        <coral-panel class="coral-Well">Tab 4 Content
        </coral-panel>
    </coral-panelstack>
</coral-tabview>
<coral-alert>
    <coral-alert-header>INFO</coral-alert-header>
    <coral-alert-content>This is is an alert.</coral-alert-content>
</coral-alert>
